/* Simple style stuff */

body {
  margin: 0; /* Remove default margin so theme fills whole page */
  line-height: 1.8;
  font-family: Iosevka;
  font-size: 1.2em;
  display: flex; /* Enable flexbox layout (good for 1D layouts and sizing automatically) */
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Full viewport height */
  text-align: justify;
  text-justify: inter-word;
}

header > table {
  position: fixed;
  border-bottom: 2px solid var(--c-text);
  background-color: var(--c-background);
}

.container {
  flex-grow: 1; /* Expand to fill available space */
  background-color: var(--c-background);
  overflow: scroll; /* This fixes the weird tearing if you scroll very fast */
}

header > table,
.content {
  color: var(--c-text);
  padding: 10px calc(max(10px, (100vw - 650px) / 2)); /* 650px wide unless it's too much */
}

h1,
h2,
h3 {
  line-height: 1.2; /* Closer line spacing for headers */
}

a:link,
a:visited,
a:hover,
a:active, 
td > label {
  /* Remove link colour and make label in table act like link */
  cursor: pointer;
  padding: 1px 4px; /* Top and bottom padding of 2px, left and right padding of 4px */
  border: 2px solid var(--c-text);
  box-decoration-break: clone; /* fix rendering of border when content goes across multiple lines */
  -webkit-box-decoration-break: clone;
  border-radius: 10px;
  color: var(--c-text);
  text-decoration: none; /* no underline for links */
}

pre {
  /* Make pre readable */
  padding: 10px;
  background-color: #181a1b;
  font-size: 16px;
  color: transparent; /* So that inline syntax highlighting gradients are shown */
  border: 2px solid #ddd;
  overflow-x: scroll;
}

/* Dark mode toggle stuff */

:root {
  --c-text: #111;
  --c-background: #eee;
  --c-dark-text: #eee;
  --c-dark-background: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-text: #ddd;
    --c-background: #181a1b;
    --c-dark-text: #181a1b;
    --c-dark-background: #eee;
  }
}

.dark-mode-checkbox:checked ~ .container {
  /* Change theme when dark-mode-checkbox ticked */
  --c-text: var(--c-dark-text);
  --c-background: var(--c-dark-background);
}

/* Single page stuff */

.homepage.page {
  display: block; /* The homepage is displayed by default */
}

.page {
  display: none; /* And other pages are hidden by default */
}

.page:target {
  display: block; /* When an id is targeted, show that page */
}

.page:target ~ .homepage.page {
  display: none; /* When an id is targeted, hide the homepage */
}

/* Add invisible content so that targetting a page keeps the header in view */
.page::before {
  content: ""; /* The invisible content. It is empty meaning no actual content is added, but the pseudo-element is still generated*/
  display: block; /* This makes the ::before pseudo-element a block-level element so it starts on a new line and take up the full width available. */
  height: 1050px; /* Fixed header height*/
  margin: -1000px 0 0; /* Negative fixed header height to cancel out the above */
}

