<html>
<head>
    <title>CV - Josh Jennings</title>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{style}}" />
</head>
<body>
  <div id="document">
    <div class="page">
      <header class="about-me">
        <h1 class="about-me__name">{{about['name']}}</span></h1>
        <h6 class="about-me__position">{{about['role']}}</h6>
        <span class="about-me__social">
            <h6><a href="tel:{{about['phone']}}"><i class="fa fa-phone"></i>{{about['phone']}}</a></h6>
            <h6><a href="mailto:{{about['email']}}"><i class="fa fa-envelope"></i>{{about['email']}}</a></h6>
            <h6><a href="https://{{about['web']}}"><i class="fas fa-home"></i>{{about['web']}}</a></h6>
            <h6><a href="https://github.com/{{about['github']}}"><i class="fab fa-github"></i>{{about['github']}}</a></h6>
        </span>
      </header>
      {% for title, section in sections.items() -%}
      <section class="{{title}}">
        <div class="section__heading">
          <h1>{{title}}</h1>
          <span class="section__heading-underline"></span>
        </div>
        {% for name, item in section.items() -%}
        <div class="section__item">
          <div>
            <h4 class="education__institution section__subheading">{{name}}</h4>
            <h5 class="section__subsubheading">{{item['description']}}</h5>
            <h4 class="section__location">{{item['location']}}</h4>
          </div>
          <div>
            <h5 class="section__date-range">{{item['date']}}</h5>
          </div>
          <ul>
          	{% for content in item['content'] -%}
            <li>{{content}}</li>
            {% endfor -%}
          </ul>
        </div>
        {% endfor -%}
      </section>
      {% endfor -%}
      <section class="skills">
        <div class="section__heading">
            <h1>Technical Skills</h1>
            <span class="section__heading-underline"></span>
        </div>
        <table>
          {% for skill, content in skills.items() -%}
          <tr>
              <td class="skills__heading">{{skill}}:</td>
              <td class="skills__list">{% for item in content -%}<span>{{item}}</span>{% endfor -%}</td>
          </tr>
          {% endfor -%}
        </table>
      </section>
    </div>
  </div>
</body>
</html>
