@font-face {
    font-family: 'Averia';
    src: url('AveriaLibre.woff2') format('woff2');
}

@font-face {
    font-family: 'IosevkaSmall';
    src: url('IosevkaSmall.woff2') format('woff2');
}

:root {
    --c-normal: #eeeeee;
    --c-background: #040204;
    --c-translucent: #0000009a;
}

html,
body {
    font-family: 'Averia', serif;
    text-align: justify;
    color: var(--c-normal);
    text-justify: inter-word;
    background: var(--c-background) url('stars.gif');
    background-attachment: fixed;
    margin: 0;
}

main {
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 0 30px;
    max-width: 800px;
    background: var(--c-background) url('stars.jpg');
    background-attachment: fixed;
}

main > article {
    background-color: var(--c-translucent);
    box-shadow: 0 30px 0 30px var(--c-translucent);
}

header {
    padding-top: 80px;
    margin-bottom: 80px;
}

header > h1 {
    margin: 0;
    font-size: 3em;
    text-align: center;
    line-height: 1.2em;
}

header nav ul {
    text-align: center;
    margin-top: 45px;
    padding-inline-start: 0;
}

header nav ul li,
footer nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a,
footer nav ul li a,
footer nav a,
header a {
    text-decoration: none;
}

footer {
    text-align: center;
    margin: 80px 0 30px 0;
}

pre {
    background-color: #111;
    font-size: 16px;
    color: transparent;
    overflow-x: scroll;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
}
 
pre,
code {
    font-family: 'IosevkaSmall', 'Iosevka', monospace;
}

:where(main ol, main ul) {
    list-style: '✦  ';
}

h1,
h2,
h3,
h4,
h5,
h6,
a:link,
a:hover,
a:active,
a:visited,
h1 a:link,
h1 a:hover,
h1 a:active,
h1 a:visited,
pre:not([class]) {
    color: var(--c-normal);
}

img {
    width: 100%;
}

::selection, 
::-moz-selection {
    color: var(--c-background);
    background: var(--c-normal);
}

@media (min-width: 601px) {
    header nav ul li a::before,
    footer nav a::before,
    footer nav ul li a::before,
    header nav ul li a::after,
    footer nav a::after,
    footer nav ul li a::after {
        content: '✦  ';
        opacity: 0;
    }

    header nav ul li a:hover::before,
    footer nav ul li a:hover::before,
    footer nav a:hover::before {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 80%;
    }
    section,
    footer {
        padding-top: 0;
    }
    header,
    section,
    footer {
        margin-bottom: 30px;
    }
    header {
        padding-top: 30px;
        margin-bottom: 30px;
    }
    header nav ul {
        margin-top: 25px;
    }
    header nav ul li {
        margin: 0 calc(100vw / 25);
    }
}

@media (max-width: 350px) {
    header nav ul li {
        margin: 0 8px;
    }
}

