@font-face {
    font-family: 'font';
    src: url('font.woff2') format('woff2');
}

:root {
    --c-normal: #eeeeee;
    --c-inverted: #111111;
    --c-alternate: #ca82ff;
    --c-translucent: #0000009a;
}

html,
body {
    font-family: font;
    text-align: justify;
    color: var(--c-normal);
    text-justify: inter-word;
    background: #040204 url('stars.gif');
    background-attachment: fixed;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    font-size: 1.2em;
    max-width: 800px;
    padding: 15px 30px;
    line-height: 1.8em;
    background: #040204 url('stars.jpg');
    background-attachment: fixed;
}

.container > .inner-container {
    background-color: var(--c-translucent);
    box-shadow: 0 0 30px 30px var(--c-translucent);
}

@media only screen and (max-width: 800px) {
    .container {
        margin: 0;
        padding: 15px 30px;
    }
}

header > h1 {
    margin: 0;
    font-size: 3em;
    text-align: center;
    line-height: 1.2em;
}

ul.nav,
summary,
details[open]:last-of-type {
    border-bottom: 2px dotted var(--c-alternate);
}

ul.nav {
    width: 100%;
    display: flex;
    font-weight: bold;
    padding: 0 !important; 
    list-style-type: none;
    justify-content: space-between;
    border-top: 2px dotted var(--c-alternate);
    margin-bottom: 0;
}

summary {
    cursor: pointer;
    font-weight: bold;
    color: var(--c-alternate) !important;
}

pre {
    background-color: #111;
    font-size: 16px;
    color: transparent;
    overflow-x: scroll;
}

pre,
:not(pre) > code { 
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
}

h1 a:link,
h1 a:hover,
h1 a:active,
h1 a:visited,
pre:not([class]) {
    color: var(--c-normal);
}

h1,
h2,
h3,
h4,
h5,
h6,
a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: var(--c-alternate);
}

::selection, 
::-moz-selection {
    color: var(--c-inverted);
    background: var(--c-alternate);
}

